<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>果物販売管理</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
{% block header %}
{% endblock %}
<section class="hero is-light">
 <div class="hero-body">
  <div class="container">
    <h1 class="title">
      {% block pagetitle %}
      {% endblock %}
    </h1>
  </div>
 </div>
</section>
<section class="section">
 <div class="container">
    {% block content %}
    {% endblock %}
 </div>
</section>
</body>
</html>