{% extends 'sales_management_system/base.html' %}

{% block header %}
    {%  include 'sales_management_system/header.html' %}
{% endblock %}

{% block pagetitle %}
   果物登録
{% endblock %}

{% block content %}
    <form method="post">
    {% csrf_token %}

     <div class="field">
      <label class="label">名称</label>
      <div class="control">
        {{ form.name }}
      </div>
     </div>

     <div class="field">
       <label class="label">単価</label>
       <div class="control">
         {{ form.price }}
       </div>
      </div>

      <div class="control">
        <button class="button is-link" type="submit">登録</button>
      </div>
    </form>
{% endblock %}
</body>
</html>