{% extends 'sales_management_system/base_breadcrumb.html' %}

{% block header %}
    {%  include 'sales_management_system/header.html' %}
{% endblock %}

{% block pagetitle %}
    果物マスタ管理
{% endblock %}

{% block breadcrumb-li %}
   <li class="is-active"><a href="#" aria-current="page">果物マスタ管理</a></li>
{% endblock %}

{% block content %}
    <section class="section">
     <div class="container">
      <table class="table is-bordered is-striped is-fullwidth">
       <thead>
        <tr>
         <th>ID</th>
         <th>名称</th>
         <th>単価</th>
         <th>登録日時</th>
         <th></th>
         <th></th>
        </tr>
       </thead>
       <tbody>
           {% for object in object_list %}
                <tr>
                 <th>{{ object.id }}</th>
                 <td>{{ object.name }}</td>
                 <td>{{ object.price }}</td>
                 <td>{{ object.created_at }}</td>
                 <td><a href="../update-fruit/{{ object.id }}/">編集</a></td>
                 <td><a href="../delete-fruit/{{ object.id }}/">削除</a></td>
                </tr>
           {% endfor %}
       </tbody>
      </table>
     </div>
    </section>
    <section>
     <div class="container">
      <a class="button is-large is-fullwidth" href="../create-fruit/">新規追加</a>
     </div>
    </section>
{% endblock %}