<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>果物マスタ管理</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
<section class="section">
 <div class="container">
  <table class="table">
   <thead>
    <tr>
     <th>ID</th>
     <th>名称</th>
     <th>単価</th>
     <th>登録日時</th>
     <th></th>
    </tr>
   </thead>
   <tbody>
   </tbody>
  </table>
 </div>
</section>
</body>
</html>