{% extends 'sales_management_system/base_breadcrumb.html' %}

{% block header %}
    {%  include 'sales_management_system/header.html' %}
{% endblock %}

{% block pagetitle %}
    販売統計情報
{% endblock %}

{% block breadcrumb-li %}
    <li class="is-active"><a href="#" aria-current="page">販売統計情報</a></li>
{% endblock %}

{% block content %}
    <section class="section">
     <div class="container">
      <h3 class="title is-3">累計</h3>
      <h4 class="title is-4">{{ revenue_sum }}円</h4>
     </div>
    </section>
    <section class="section">
     <div class="container">
      <h3 class="title is-3">月別</h3>
       <table class="table is-bordered is-striped is-fullwidth">
       <thead>
        <tr>
         <th>月</th>
         <th>売り上げ</th>
         <th>内訳</th>
        </tr>
       </thead>
       <tbody>
           {% for monthly_sales_data in last3months_sales_data %}
                <tr>
                 <th>{{ monthly_sales_data.date }}</th>
                 <td>{{ monthly_sales_data.revenue }}</td>
                 <td>{{ monthly_sales_data.detail }}</td>
                </tr>
           {% endfor %}
       </tbody>
      </table>
     </div>
    </section>
    <section class="section">
     <div class="container">
      <h3 class="title is-3">日別</h3>
       <table class="table is-bordered is-striped is-fullwidth">
       <thead>
        <tr>
         <th>日</th>
         <th>売り上げ</th>
         <th>内訳</th>
        </tr>
       </thead>
       <tbody>
           {% for daily_sales_data in last3days_sales_data %}
                <tr>
                 <th>{{ daily_sales_data.date }}</th>
                 <td>{{ daily_sales_data.revenue }}</td>
                 <td>{{ daily_sales_data.detail }}</td>
                </tr>
           {% endfor %}
       </tbody>
      </table>
     </div>
    </section>
{% endblock %}