<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>果物登録</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
<section class="section">
 <div class="container">
  {% block content %}

    <form method="post">
    {% csrf_token %}

     <div class="field">
      <label class="label">名称</label>
      <div class="control">
        {{ form.fruit_name }}
      </div>
     </div>

     <div class="field">
       <label class="label">単価</label>
       <div class="control">
         {{ form.amount }}
       </div>
      </div>

     <div class="field">
       <label class="label">販売日時</label>
       <div class="control">
         {{ form.sold_at }}
       </div>
      </div>

      <div class="control">
        <button class="button is-link" type="submit">登録</button>
      </div>
    </form>

  {% endblock %}
 </div>
</section>
</body>
</html>